---
layout: base.njk
title: Home
---
{%- from "_includes/components/card/macro.njk" import card_component -%}

<div class="section">
    <h1>Personal Projects</h1>
    <div class="cards">    
        {% for post in collections.personal_projects %}
            {{ card_component(post) }}
        {% endfor %}
    </div>
</div>

<div class="section">
    <h1>Academic Projects</h1>
    <div class="cards">    
        {% for post in collections.academic_projects %}
            {{ card_component(post) }}
        {% endfor %}
    </div>
</div>
