<h2 class="header">Profile</h2>            
<div class="profile">
    {# <img src="/assets/profile.jpg" alt="Profile Picture" class="profile-picture">
    <br> #}
    <div class="title">Chau Ying Kot</div>
    <div class="subtitle">Junior Software Developer</div>
    <div class="subtitle">MSc in Computer Science, EPFL</div>
</div>