{%- from "components/sidebar_link/macro.njk" import sidebar_link -%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title or "My Portfolio" }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="grid">
        <aside class="sidebar">
            {% include "components/profile.njk" %}

            <h2 class="header">Quick Links</h2>            

            <div class="spacer"></div>
            {{ sidebar_link({ name: "Home", url: "/", icon: "bi bi-house"}) }}
            {{ sidebar_link({ name: "About me", url: "/about", icon: "bi bi-person"}) }}
            {{ sidebar_link({ name: "LinkedIn", url: "https://www.linkedin.com/in/chau-ying-kot/", icon: "bi bi-linkedin"}) }}
        </aside>
        <main class="content">
            {{ content | safe }}
        </main>
    </div>
</body>

</html>